/* //---------dashboard container----------// */
.dashboard-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.section2 {
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

/* //---------// */
@media screen and (min-width : 1024px) {
    .dashboard-container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 1.3em;
    }
}